<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="cadence" translate="label" sortOrder="500">
            <label>Cadence</label>
        </tab>
        <section id="cadence_pinterest"  translate="label" type="text" sortOrder="3000" showInDefault="1" showInWebsite="1" showInStore="1" >
            <class>separator-top</class>
            <label>Pinterest Tag</label>
            <tab>cadence</tab>
            <resource>Cadence_Pinterest::config_cadence_pinterest</resource>
            <group id="visitor" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Visitor Pixel</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="tag_id" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Tag ID (TID)</label>
                    <comment>This is the TID (tag id) for the Pinterest tag (see the install guide for instructions on where to find this).</comment>
                </field>
            </group>
            <group id="conversion" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Checkout Event (Optional)</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>The base tag must be enabled to track Checkouts. Includes parameters for grand total, quantity ordered, and currency. Also tracks the individual items purchased.</comment>
                </field>
            </group>
            <group id="add_to_cart" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Add To Cart (Optional)</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>The base tag must be enabled to track AddToCart. Includes parameters for product subtotal, quantity added, and currency. Also tracks the individual items added.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
